<p>add-new-expenses works!</p>
<hr>
<form>
    <label>Date</label>
    <input [(ngModel)]="formData.date" type="date" name="date">
    <br>
    <select #categoryselect (change)="selectedCategory(categoryselect.value)">
        <option *ngFor="let category of categories">{{category.categoryName}}</option>
    </select>
    <input [(ngModel)]="formData.category" type="text" name="categoryText" >
    <br>
    <select #articleselect (change)="selectedArticle(articleselect.value)" name="article">
        <option *ngFor="let article of articles">{{article.articleName}}</option>
    </select>
    <input [(ngModel)]="formData.article" type="text" name="articleText" >
    <br>
    <label>Amount</label>
    <input [(ngModel)]="formData.amount" type="text" name="amount">
    <br>
    <label>Price</label>
    <input [(ngModel)]="formData.price" type="text" name="price">
    <br>
    <button type="submit" (click)="postExpense(false)">Save without override</button>
    <button type="submit" (click)="postExpense(true)">Save and override</button>
</form>
