<h4>Allocations</h4>
<hr>
<p>Income: {{income}}</p>
<p>Investment: {{allocation.investment}}</p>

<p>Fix costs:</p>
<div *ngFor="let fixCost of allocation.fixCosts; index as i">
    <ng-container [ngTemplateOutlet]="fixCost.updating ? updating : notUpdating" [ngTemplateOutletContext]="{fixCost:fixCost, i:i}"></ng-container>
</div>
<div *ngIf="addFixcost">
    <input [(ngModel)]="newFixcost.fixCostName" type="text" placeholder="Name of the new fixcost"/> <input [(ngModel)]="newFixcost.amount" type="number"/> <button type="button" (click)="submitNewFixcost()">Ok</button>
</div>
<button type="button" (click)="addNewFixcost()">Add new fixcost</button>

<ng-template #notUpdating let-fixCost="fixCost" let-i="i">
    <label>{{fixCost.fixCostName}}: {{fixCost.amount}} </label> <button type="button" (click)="updateAllocation(i)">Change</button>
</ng-template>

<ng-template #updating let-fixCost="fixCost" let-i="i">
    <input type="number" value={{fixCost.value}} [(ngModel)]="newValue"/> <button type="button" (click)="submitUpdateAllocation(i)">Ok</button>
</ng-template>

<br>

<p>Categories:</p>
<div *ngFor="let category of allocation.categories">
    <label>{{category.categoryName}}: {{category.budget}}</label>
</div>
<br>
<hr>
<button type="submit" (click)="updateAllocation(4)">Update allocations</button>
