<h3>Finance Manager</h3>
<div class="site-nav">
    <ul>
        <li><a href="/login">Log In</a></li>
        <li><a href="/allocation">Allocations </a></li>
        <li><a href="/expenses"> Expenses </a></li>
        <li><a href="/addNewExpense"> add new Expense </a></li>
        <li><a href="/investment/transaction"> Transactions </a></li>
        <li><a href="investment/transaction/newTransaction"> Add new Transactions </a></li>
        <li><a href="investment/depotEntries"> Depot entries </a></li>
        <li><a href="investment/profits"> Profits </a></li>
    </ul>
</div>
<router-outlet></router-outlet>