<p>add-new-transaction works!</p>
<hr>
<form>
    <label>Date</label>
    <input [(ngModel)]="formData.date" type="date" name="date"/>
    <br>
    <select #depotNameSelect (change)="selectedDepotName(depotNameSelect.value)">
        <option>Trade Republic</option>
        <option>Flatex</option>
    </select>
    <br>
    <select #typeSelected (change)="selectedType(typeSelected.value)">
        <option>Transfer</option>
        <option>Buy</option>
        <option>Sell</option>
        <option>Dividend</option>
    </select>
    <br>
    <select #isinSelected (change)="selectedIsin(isinSelected.value)">4
        <option *ngFor="let isin of isinArray">{{isin}}</option>
    </select>
    <input [(ngModel)]="formData.isin" type="text" name="isin"/>
    <br>
    <label>Security name</label>
    <input [(ngModel)]="formData.securityName" type="text" name="securityName"/>
    <br>
    <br>
    <label>Number</label>
    <input [(ngModel)]="formData.number" type="number" name="number" (blur)="calculateTotalPrice()"/>
    <br>
    <br>
    <label>Price</label>
    <input [(ngModel)]="formData.price" type="number" name="price" (blur)="calculateTotalPrice()"/>
    <br>
    <br>
    <label>Expenses</label>
    <input [(ngModel)]="formData.expenses" type="number" name="expenses" (blur)="calculateTotalPrice()"/>
    <br>
    <br>
    <label>Total price</label>
    <input [(ngModel)]="formData.totalPrice" type="number" name="totalPrice"/>
    <br>
    <button type="submit" (click)="postTransaction()">Save transaction</button>
</form>
