<p>add-new-transaction works!</p>
<hr>
<form class="form-container">

    <div class="form-row">
        <div class="form-group">
            <label class="form-label">Date</label>
            <input class="form-input" [(ngModel)]="formData.date" type="date" name="date" />
        </div>
        <div class="form-group">
            <label class="form-label">Depot</label>
            <select class="form-select" #depotNameSelect (change)="selectedDepotName(depotNameSelect.value)">
                <option>Trade Republic</option>
                <option>Flatex</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label class="form-label">Type</label>
            <select class="form-select" #typeSelected (change)="selectedType(typeSelected.value)">
                <option>TransferToDepot</option>
                <option>TransferFromDepot</option>
                <option>Buy</option>
                <option>Sell</option>
                <option>Dividend</option>
                <option>DepotCost</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-label">ISIN</label>
            <select class="form-select" #isinSelected (change)="selectedIsin(isinSelected.value)">4
                <option *ngFor="let isin of isinArray">{{isin}}</option>
            </select>
            <input class="form-input" [(ngModel)]="formData.isin" type="text" name="isin" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label class="form-label">Security name</label>
            <input class="form-input" [(ngModel)]="formData.securityName" type="text" name="securityName" />
        </div>
        <div class="form-group">
            <label class="form-label">Number</label>
            <input class="form-input" [(ngModel)]="formData.number" type="number" name="number"
                (blur)="calculateTotalPrice()" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label class="form-label">Price</label>
            <input class="form-input" [(ngModel)]="formData.price" type="number" name="price"
                (blur)="calculateTotalPrice()" />
        </div>
        <div class="form-group">
            <label class="form-label">Expenses</label>
            <input class="form-input" [(ngModel)]="formData.expenses" type="number" name="expenses"
                (blur)="calculateTotalPrice()" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label class="form-label">Total price</label>
            <input class="form-input" [(ngModel)]="formData.totalPrice" type="number" name="totalPrice" />
        </div>
        <div class="form-group form-group-button">
            <button class="submit-btn" type="submit" (click)="postTransaction()">Save transaction</button>
        </div>
    </div>

</form>